/*Main CSS */
html{
  width: 100vw;
  overflow-x: clip;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Inter;
}

ul,li{
  text-decoration: none;
}

a{
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
}


clipPath {
  transform: scale(calc(1 / 1440), calc(1 / 960));
}

.scroll-page{
  width: 100vw;
  overflow-x: clip;
}


.-translate-x-full, .transform {
  transform: var(--tw-transform);
}
.-translate-x-full {
  --tw-translate-x: -100%;
}
.inset-0 {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
.fixed {
  position: fixed;
}


.allcaps{
  text-transform: uppercase;
}

.sans-serif{
  font-family: freightbigcmp-pro, serif;
}

.italics{
  font-style: italic;
}

.bold{
  font-weight: 600;
}

.underline{
  text-decoration: underline;
}

#filn0{
  filter: url(#n0);
}

#filn1{
  filter: url(#n1);
}

#filn2{
  filter: url(#n2);
}

.section{
  width: 100vw;
  overflow-x: clip;
}

/* Navigatiomn Bar */
.nav {
  position: fixed;
  color: #00320B;
  z-index: 1;
  font-family: Inter;
  font-size: 8pt;
  text-transform: uppercase;
}

.main-menu{
  left: 0;
  top: 0;
  padding-top: 1vw;
}

.main-menu .nav-item{
  padding: 0vw 6vw 1vw 1.2vw;
}

.nav-item-logo{
  font-weight: 600;
  
}

.nav-item-back{
  position: fixed;
  right: -4.5vw;
  text-decoration: underline;
}
.nav-item-action{
  position: fixed;
  
}


.vertical-menu{
  position: fixed;
  right: -3vw;
  bottom: 20vh;
  transform: rotate(-90deg);
  color: #2B3B00;
  
}

.vertical-menu .nav-item{
  padding: 6vw 1.2vw 3vw 0;
}



/* Main Page Menu */
.main-page{
  background-color: #2B3B00;
}

.main-page-title{
  position: absolute;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  font-family: freightbigcmp-pro, serif;
  font-size: 60pt;
  line-height: .9em;
  text-align: center;
  color: #A0DC00;
}

.main-page-title-logo{
  font-family: Inter;
  font-size: 45pt;
}

.message-btn-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  user-select: none;
}

.message-btn {
  
  position: relative;
  width: 500px;
  height: 1px;
  margin: 4vh auto;
  
  overflow: hidden;
}


.statebtns {
  display: flex;
  
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.items__inner {
  position: relative;
  width: 100vw;
  
  
}
.items__layer .items__item {
  position: absolute;
  width: 15vw;
}

.items__layer .items__item svg:hover{
  fill: #A0DC00;
  
}

.items__layer .items__item svg:hover path{
  fill: #A0DC00;
  
}

.items__layer .items__item svg:hover text{
  fill: #2B3B00;
  
}

.items__layer:nth-child(1) .items__item {
  top: 5vw;
  left: 5vw;
}

.items__layer:nth-child(2) .items__item {
  top: 3vw;
  left: 42vw;
}

.items__layer:nth-child(3) .items__item {
  top: 9vw;
  left: 78vw;
}

.items__layer:nth-child(4) .items__item {
  width: 10vw;
  top: 25vw;
  left: 8vw;
}

.items__layer:nth-child(5) .items__item {
  top: 33vw;
  left: 40vw;
}

.items__layer:nth-child(6) .items__item {
  top: 30vw;
  left: 78vw;
}


.popup-container {
  visibility: hidden;
}

.popup {
  cursor: pointer;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  background: none;
}

.text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding-bottom: 5vh;
  color: #A0DC00;
  font-size: 8pt;
  text-transform: uppercase;
  
}

.message-btn-inner {
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 100%;
 
  background: #A0DC00;
  transition: 1s;
}

.message-btn-container:hover .message-btn-inner {
  transition: 1s;
  left: 0;
}

#section-message-wrapper{
  position: absolute;
  
}

.message {
  position: fixed;
  margin: 0 auto;
  top: 30vh;
  left: 0;
}

.message-header{
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 30vh;
  background-color: #A0DC00;
}

.close-message{
  position: absolute;
  right: 0;
  padding: 2vh 2vh 0 0;
  color: #2B3B00;
  font-size: 8pt;
  text-transform: uppercase;
  
}
.close-message:hover{
  text-decoration: underline;
}

#main-message {
  font-size: 23vw;
  font-family: Inter;
  fill: #000;
}
#sub-message{
  font-size: 13vw;
  font-style: italic;
  fill: #000;
  font-family: freightbigcmp-pro, serif;
}


.message-masked {
  mask: url("#message-mask");
  

}



/* Sections */



/* Landing page */

.section-landingpage{
  position: relative;
  left: 0;
  
  height: 48vw; 
  overflow: hidden;
}

.landingpage-text{
  width: 70vw;
  padding-top: 10vw;
  padding-left: 1.2vw;
  padding-bottom: 4vh;
  font-weight: 100;
  font-size: 12vw;
  line-height: 10vw;
  font-family: freightbigcmp-pro, serif;
  color: #2B3B00;
}

.landingpage-subtext{
  position: absolute;
  padding-top: 2vh;
  left: 31vw;
}

.landingpage-subtext--text{
  position: absolute;
  padding-top: 2vh;
  width: 40vw;
  font-size: .8vw;
  color: #78A300;
  text-align: right;
  left: 34vw;
}

.landingpage-banner{
  position: absolute;
  right: -9vw;
  z-index: -1;
 bottom: 0;
 width: 32vw;
}


/* Statistics*/

.section-statistics{
  height: auto;
  background-color: #2B3B00;
  color: #A0DC00;
  display: block;
  padding: 2vh 0 20vh;
}

.blog-stats{
  
  padding: 50vh 0 3vw 10vw;
  font-size: 10px;
  
  
}

.stat-bodytext{
  
  
  width: 18vw;
  
}

.stat-item{
  display: grid;
  grid-gap: 1.5vw;
  margin-bottom: .5em;
  grid-template-columns: 28vw 1fr;
  line-height: 2;
}

.stat-item .catergory{
  
  text-transform: uppercase;
  letter-spacing: .05em;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  
}

.statistics-big-text{
  padding-right: 10vw;
  width: 50vw;
  float: right;
  
  font-size: 4.6vw;
  line-height: .9em;
  font-family: freightbigcmp-pro, serif;
  content: "";
}

.statistics-big-text span{
  font-family: Inter;
  font-size:36pt;
}

.stat-text{
  display: inline;
}




.state-cutout-text {
  color: #A0DC00;
  font-family: Inter;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 7vw;
  line-height: .9;
  letter-spacing: -0.04em;
  text-align: center;
  margin: -2em auto .3em;
  position: relative;
  width: 90%;
  z-index: 1;
  display: block;
  mix-blend-mode: screen;
}

.state-cutout-container{
  
  display: block;
  overflow: hidden;
  position: relative;
  
  width: 100%;
}


.state-cutout{
  aspect-ratio: 1440 / 960;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  width: 100%;
  display: block;
  left: -10vw;
  z-index: 0;
}

.state-cutout--mo {
  -webkit-clip-path: url(#MO);
  clip-path: url(#MO);
  
  background-image: url(img/mo-protest-02.jpg);
  background-position: right 145% bottom 22%;
  background-size: 70%;
  
}

#MO{
  width: 30vw;
}

.text-caption{
  text-align: center;
  font-size: 8pt;
  text-transform: uppercase;
  font-weight: 500;
}

.text-caption--link{
  color: #78A300;
}






/* Blockquote */
.section--border{
  transform: translate(0px, -99%);
}


.section-blockquote {
  display: block;
  
  height: auto;
  padding: 4vh 0 20vh;
  background-color: #2B3B00;
  
}

.quote-image-slot{
  margin: auto;
  width: 92vw;
  height: 92vh;
  z-index: -1;
  overflow: hidden;
}

.quote-image-slot img{
  width: 95vw;
  margin-top: -20vh;
}

.blockquote-card {
  width: 70vw;
  height: 45vw;
 
  margin: -35vh auto auto;
  perspective: 70vw;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateX(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #A0DC00;
  text-align: center;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #2B3B00;
  border: 1px solid #A0DC00;

}

.card__face--front {
  padding: 0 5vw;
  margin: auto 0;
  justify-content: center;
  font-weight: 100;
  font-size: 6vw;
  font-family: freightbigcmp-pro, serif;
  line-height: .9em;
}

.card__face--back {
  display: grid;
  grid-template-columns: auto;
  align-content: space-between;
  transform: rotateX(180deg);
  font-family: Inter;
  font-size: 8pt;
  text-transform: uppercase;
  font-weight: 500;
}

.dir-btn{
  width: fit-content;
  height: 2vw;
  margin: 2vw auto 0;
  padding: .5vw 2vw 0;
  font-family: Inter;
  font-size: 8pt;
  text-transform: uppercase;
  font-weight: 500;
  color: #78A300;
  line-height: normal;
  border: 1px solid #78A300;
  border-radius: 35px;
}

.quote-mark{
  display: block;
  font-size: 10vw;
  height: 8vh;
  margin: 2vw auto auto;
  
  font-weight: 600;
}

.img-caption{
  padding: 3vh 20vw 0;
}

.quote-source{
  padding: 0 0 5vh;
  height: 3vh;
  font-family: Inter;
  font-size: 8pt;
  text-transform: uppercase;
  font-weight: 500;
}

/* Section: Know Your Representatives */

.section-representatives {
  display: block;
  left: 0;
  position: relative;
  padding-bottom: 10rem;
  background-color: #000e04;
  color: #A0DC00;
  
}
.banner-sticker-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.banner-sticker{
  
  margin: 0;
  
  width: 15vw;
  position: sticky;
  
  z-index: 0;
  
}

.banner-sticker img{
  width: 15vw;
  
}

.banner-sticker--01{
  top: 10vw;
  margin-right: 2vw;
  float: right;
  
  padding-bottom: 20vw;
  
}

.banner-sticker--02{
  top: 5vw;
  padding-top: 25vw;
  padding-bottom: 10vw;
  margin: 0;
  
  float: left;
  
}

.rep-title{
  display: block;
  position: relative;
  padding: 0 0 5vh;
  margin: 2vw 0 auto;
  width: 100vw;
  justify-content: center;
  text-align: center;
  font-weight: 200;
  font-size: 100pt;
  
  font-family: freightbigcmp-pro, serif;
  z-index: 2;
  white-space:nowrap;
  overflow: hidden;
  mix-blend-mode: screen;
}

.rep-descrip{
  margin: auto;
  width: 50vw;
  font-size: 8pt;
  text-align: center;

}

.rep-descrip a{
  display: block;
  text-decoration: none;
  padding-top: 2vh;
  color: #78A300;
  

}

.rep-stats{
  display: grid;
  position: relative;
  grid-template-columns: repeat(24,1fr);
  padding: 10vh 5vh;
  white-space:nowrap;
  overflow: hidden;
  z-index: 2;
  width: 100vw;
  
}

.rep-info{
  grid-column: 5/span 8;
}

.rep-info:first-child .rep-item{
  grid-template-columns: 10vw 1fr;
}

.rep-info:last-child{
  grid-column: 13/span 8;
}

.rep-info:last-child .rep-item{
  grid-template-columns: 5vw 12vw 12vw;
}

.rep-item{
  display: grid;
  grid-gap: 1.5vw;

  padding: 1vh 0 1vh;
  
}

.rep-item .catergory{
  display: flex;
  align-items: center;
  
  font-size: 8pt;
  text-transform: uppercase;
  
}

.rep-group-title{
  padding: 1vh 0;
  border-bottom: 1px solid #A0DC00;
  font-size: 8pt;
  text-transform: uppercase;
  
}

.rep-item-title{
  color: #78A300;
  font-size: 8pt;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  padding-top: 1vh;
}


.rep-num{
  text-align: center;
  
  font-size: 8pt;
}

/* Gallery */
.section-gallery{
  position: relative;
  background-color: #A0DC00;
  
  height: 265vw;
}

.delayed-gallery img{
  position: absolute;
}
.delayed-gallery .inner-container {
  will-change: transform;
}
.delayed-gallery img {
  max-width: 100%;
  will-change: transform;
}

.gallery{
  display: block;
  height: 65vw;
  position: relative;
}

.innerContainer{
  position: absolute;
}

#img-slot-1 {
  z-index: 2;
  top: 0vh;
  left: 30vw;
  width: 100vw;
}
#img-slot-1 img{
  
  width: 50vw;
  
}

#img-slot-2{
  width: 80vw;
}






#img-slot-3 {
  top: 10vw;
  right: 5vw;
  width: 44vw;
}


#img-slot-4 {
  width: 80vw;
  
  right: 0;
  
}

.caption-slot{
  position: absolute;
  margin: 0;
  font-family: Inter;
  color: #000e04;
  font-size: 8pt;
  line-height: 1.3;
  letter-spacing: -0.02em;
}

.cap-num{
  font-style: italic;
  font-family: freightbigcmp-pro, serif;
  font-weight: 500;
  font-size: 11pt;
  padding-right: .5em;
}


.caption-slot-1{
  width: 10vw;
  top: 35vw;
  left: 18vw;

  
} 

.caption-slot-2{
  width: 50vw;
  top: 56vw;
  right: 18vh;

  
} 

.caption-slot-3{
  width: 44vw;
  top: 45vw;
  left: 5vw;

 
} 

.caption-slot-4{
  width: 10vw;
  top: 30vw;
  left: 7vw;

 
} 

.cap-source{
  text-align: right;
  padding-top: 3vh;
  text-transform: uppercase;
  font-size: 6pt;
  color: #2B3B00;
}



/* Resources */

.section-resources{
  
  display: block;

  top: 0;
  
  margin: 0;
  background-color: #2B3B00;
}

.resources-title{
  color: #A0DC00;
  font-family: freightbigcmp-pro, serif;
  font-weight: 200;
  font-size: 90pt;
  text-align: center;
  padding: 1vw;
}

.resources-main-section{
  display: block;
  height: 42vw;
}

.tile-container {
    position: absolute;
    background-color: #2B3B00;
    right: 0;
    left: 0;
    text-align: center;
    user-select: none;
    padding: 1vw 0;
    margin: 0;
}

.tile {
    width: 31vw;
    height: 40vw;
    margin: 0;
  
    cursor: pointer;
    background: #2B3B00;
  color: #A0DC00;
  border: 1px solid #A0DC00;
    
    border-radius: 14vw;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
}



.tile:hover{
  background: #A0DC00;
    color: #2B3B00;
    border: 1px solid #2B3B00;
}

.option-title{
  width: 100%;
  left: 0;
  position: absolute;
  padding: 2vw;
  text-align: center;
  font-size: 8pt;
  font-family: Inter;
  text-transform: uppercase;
}

.tile-abortion{
  padding-top: 5vh;
}

.page-container {
  padding: 1vw 0;
    visibility: hidden;
}

.page {
    
    position: absolute;
    height: 40vw;
    width: 93.1vw;
    background: #A0DC00;
    color: #2B3B00;
    border: 1px solid #2B3B00;
    
    border-radius: 14vw;
    
    margin: 0 3.2vw;
    
}


.tile .inner-content {
    width: 100%;
    height: 100%;
    
    position: relative;
    color: #A0DC00;
    opacity: 1;
    
    font-size: 14px;
   
}

.page .inner-content {
    width: 93.6vw;
    height: 40vw;
    
    position: absolute;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    padding: 4.8vw .5vw;
    font-size: 14px;
}

.close{
  width: 83vw;
  height: auto;
  top: 0;
  left: 0;
  position: absolute;
  padding: 2vw;
  text-align: right;
  font-size: 14pt;
  font-family: Inter;
  text-transform: uppercase;

}

.page-column{
  width: 22vw;
  
  display: inline-block;
    position: relative;
    box-sizing: border-box;
  margin: 0 3.5vw;
  font-size: .8vw;
  line-height: 1.7;
  letter-spacing: -0.02em;
  vertical-align: top;
}

.page-column-desc{
  font-size: .7vw;
  
  letter-spacing: 0.05em;
  font-style: italic;
  text-transform: uppercase;
  color: #2B3B00;
}

.resources-otherlang {
  display: block;
  
  background-color: #2B3B00;
  
  text-align: center;
  user-select: none;
  padding: 6vw 0 18vw;
  margin: 0;
  
  font-size: 8pt;
}

.lang-item{
  display: block;
}

.lang-item-title{
  text-transform: uppercase;
}

.otherlang-options {
  width: 31vw;
  height: auto;
  margin: 0;

  cursor: pointer;
  
  color: #A0DC00;
  
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}

.otherlang-options-title{
  padding-bottom: 2vh;
}

.lang-item-title, .lang-item-link{
  display: inline;
}

/* Others */
.section-others{
  display: block;
  background-color: #000e04;
  color: #A0DC00;
  
}

.other-back, .other-more{
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto;
  align-items: center;
}

.other-map{
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
  align-items: center;
}


/*.other-detail, .other-button{
  display: inline-block;
}*/

.other-detail{
  padding: 0 2vw;
  font-size: 7.5vw;
  font-family: freightbigcmp-pro, serif;
  font-weight: 100;
  text-transform: uppercase;

}

.other-button{
  color: #78A300;
  font-size: 4vw;
  font-family: Inter;
  text-transform: uppercase;
}

